body {
    background-color: #000000;
    color: rgb(225, 225, 225);}

.topnavdiv {
    min-width: 100vw;}

.topnav {
    float: left;
    display: block;
    text-align: center;
    padding: 2vw 2vw;}

.topnav:hover {
    background-color:#ffffff}

.any  {background-color: rgba(40, 40, 40, 0.815);}
.any:hover {background-color: rgba(60, 60, 60, 0.815);}
.any:link {color: rgb(180, 180, 180);}
.reb {background-color: rgba(204, 0, 0, 0.69);}
.reb:hover {background-color: rgba(236, 32, 32, 0.69);}
.reb:link {color: rgb(255, 0, 191);}
.imp {background-color: rgba(0, 0, 102, 0.752);}
.imp:hover {background-color: rgba(32, 32, 134, 0.752);}
.imp:link {color: rgb(102, 204, 255);}
.scm {background-color: rgba(0, 153, 0, 0.69);}
.scm:hover {background-color: rgba(32, 185, 32, 0.69);}
.scm:link {color: rgb(191, 128, 64);}

.rebscm {background: linear-gradient(to bottom, rgba(204, 0, 0, 0.69), rgba(204, 0, 0, 0.69), rgba(204, 0, 0, 0.69), rgba(0, 153, 0, 0.69),  rgba(0, 153, 0, 0.69), rgba(0, 153, 0, 0.69));}
.rebscm:hover {background: linear-gradient(to bottom, rgba(236, 32, 32, 0.69), rgba(236, 32, 32, 0.69), rgba(236, 32, 32, 0.69), rgba(32, 185, 32, 0.69), rgba(32, 185, 32, 0.69), rgba(32, 185, 32, 0.69));}

.impscm {background: linear-gradient(to bottom, rgba(0, 0, 102, 0.752), rgba(0, 0, 102, 0.752), rgba(0, 0, 102, 0.752), rgba(0, 153, 0, 0.69),  rgba(0, 153, 0, 0.69), rgba(0, 153, 0, 0.69));}
.impscm:hover {background: linear-gradient(to bottom, rgba(32, 32, 134, 0.752), rgba(32, 32, 134, 0.752), rgba(32, 32, 134, 0.752), rgba(32, 185, 32, 0.69), rgba(32, 185, 32, 0.69), rgba(32, 185, 32, 0.69));}

.pilotskill {
    color: rgb(255, 153, 0);
    background-color: rgb(0, 0, 0);
    font-size: 4vw;
    margin: 1vw;
    display: inline-block;
    height: 6vw;
    width: 6vw;
    line-height: 6vw;
    -moz-border-radius: 6vw;
    border-radius: 6vw;
    text-align: center;
    border-style: solid;
    border-width: 1vw;
    border-color: rgb(255, 153, 0);}

.attack {
    color: rgb(232, 23, 23);
    background-color: rgb(0, 0, 0);
    font-size: 4vw;
    margin: 1vw;
    display: inline-block;
    height: 6vw;
    width: 6vw;
    line-height: 6vw;
    -moz-border-radius: 6vw;
    border-radius: 6vw;
    text-align: center;
    border-style: solid;
    border-width: 1vw;
    border-color: rgb(232, 23, 23);}
.turret, .attack.turret {
    height: 4vw;
    width: 4vw;
    line-height: 4vw;
    -moz-border-radius: 4vw;
    border-radius: 4vw;
    border-width: 2vw;
    border-style: double;}
.reararc, .attack.reararc {
    text-decoration: underline overline;}

.agility {
    color: rgb(0, 224, 0);
    background-color: rgb(0, 0, 0);
    font-size: 4vw;
    margin: 1vw;
    display: inline-block;
    height: 6vw;
    width: 6vw;
    line-height: 6vw;
    -moz-border-radius: 6vw;
    border-radius: 6vw;
    text-align: center;
    border-style: solid;
    border-width: 1vw;
    border-color: rgb(0, 224, 0);}

.hull {
    color: rgb(240, 224, 16);
    background-color: rgb(0, 0, 0);
    font-size: 4vw;
    margin: 1vw;
    display: inline-block;
    height: 6vw;
    width: 6vw;
    line-height: 6vw;
    -moz-border-radius: 6vw;
    border-radius: 6vw;
    text-align: center;
    border-style: solid;
    border-width: 1vw;
    border-color: rgb(240, 224, 16);}

.shields {
    color: rgb(0, 92, 230);
    background-color: rgb(0, 0, 0);
    font-size: 4vw;
    margin: 1vw;
    display: inline-block;
    height: 6vw;
    width: 6vw;
    line-height: 6vw;
    -moz-border-radius: 6vw;
    border-radius: 6vw;
    text-align: center;
    border-style: solid;
    border-width: 1vw;
    border-color: rgb(0, 92, 230);}

.range {
    color: rgb(180, 180, 180);
    background-color: rgb(20, 20, 20);
    font-size: 4vw;
    margin: 1vw;
    display: inline-block;
    height: 6vw;
    width: 6vw;
    line-height: 6vw;
    -moz-border-radius: 6vw;
    border-radius: 6vw;
    text-align: center;
    border-style: solid;
    border-width: 1vw;
    border-color: rgb(180, 180, 180);}

.edited {color:rgb(255, 255, 0);}
.shp {font-size:4vw; font-weight:bold; background-color:rgb(0, 0, 0); color: rgb(255, 255, 255);}

table {
    text-align: left;
    width: 45vw;
    font-size: 2vw;
}
th {
    height:7.5vw;
}
p {font-size: 2vw;}

tr:nth-child(even) {background-color: rgb(128, 128, 128);}

h1 {font-size: 6vw;}
h2 {font-size: 5vw;}

a {font-size: 2vw;}

a:hover {color: yellow;}

a:active {color: black;}

.action {font-size: 2.5vw; color: rgb(255, 255, 255);}

.name {font-size: 3vw;}

.rel {position: relative;}

.invis {
    display: none;
    position: absolute;
    width: 50vw;
    text-align: Left;
    border-style: solid;
    border-radius: 1vw;
    border-width: 0.5vw;
    background-color: rgb(32, 32, 32);
    border-color: rgb(128, 128, 128);
    z-index: 100;
    top: 0vw;
    padding:0.1875vw;
    left:45vw;
}
