body {
    background-color: #000000;
    color: #ffffff;
}

.topnav {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 15px;
}

.topnav:hover {
    background-color:#ffffff
}

.any  {background-color: #404040d0;}
.any:hover {background-color: #606060d0;}
.any:link {color: #bfbfbf}
.reb {background-color: #cc0000b0;}
.reb:hover {background-color: #ec2020b0;}
.reb:link {color: #ff00bf}
.imp {background-color: #000066c0;}
.imp:hover {background-color: #202086c0;}
.imp:link {color: #66ccff}
.scm {background-color: #009900b0;}
.scm:hover {background-color: #20b920b0;}
.scm:link {color: #bf8040}
.shp {font-size:20px;font-weight:bold;background-color:#000000;}

.pilotskill {
    color: #ff9900;
    font-size: 36px;
    background-color: #000000;
    margin: 9px;
    display: inline-block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-color: #ff9900;}

.attack {
    color: #e81717;
    font-size: 36px;
    background-color: #000000;
    margin: 9px;
    display: inline-block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-color: #e81717;}

.agility {
    color: #00e000;
    font-size: 36px;
    background-color: #000000;
    margin: 9px;
    display: inline-block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-color: #00e000;}

.hull {
    color: #f0e010;
    font-size: 36px;
    background-color: #000000;
    margin: 9px;
    display: inline-block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-color: #f0e010;}

.shields {
    color: #005ce6;
    font-size: 36px;
    background-color: #000000;
    margin: 9px;
    display: inline-block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-color: #005ce6;}

.edited {color:#ffff00;}

table {
    text-align: left;
    width: 400px;
}

tr:nth-child(even) {background-color: #808080}

h1 {width: 850px;}

a:hover {color: yellow;}

a:active {color: black;}


.rel {position: relative;}

.invis {
    display: none;
    position: absolute;
    width: 390px;
    text-align: Left;
    border-style: solid;
    border-radius: 12px;
    border-width: 5px;
    background-color: #202020;
    border-color: #808080;
    z-index: 100;
    top: 0px;
    padding:3px;
    left:400px;
}
