body {
    background-color: #000000;
    color: #ffffff;
}

.topnav {
    float: left;
    display: block;
    text-align: center;
    padding: 0.625em 0.9375em;
}

.topnav:hover {
    background-color:#ffffff
}

.any  {background-color: rgba(64, 64, 64, 0.815);}
.any:hover {background-color: rgba(96, 96, 96, 0.815);}
.any:link {color: rgb(191, 191, 191);}
.reb {background-color: rgba(204, 0, 0, 0.69);}
.reb:hover {background-color: rgba(236, 32, 32, 0.69);}
.reb:link {color: rgb(255, 0, 191);}
.imp {background-color: rgba(0, 0, 102, 0.752);}
.imp:hover {background-color: rgba(32, 32, 134, 0.752);}
.imp:link {color: rgb(102, 204, 255):}
.scm {background-color: rgba(0, 153, 0, 0.69);}
.scm:hover {background-color: rgba(32, 185, 32, 0.69);}
.scm:link {color: rgb(191, 128, 64);}

.pilotskill {
    color: rgb(255, 153, 0);
    font-size: 1.75em;
    background-color: rgb(0, 0, 0);
    margin: 0.3em;
    display: inline-block;
    height: 1.75em;
    width: 1.75em;
    line-height: 1.75em;
    -moz-border-radius: 1.75em;
    border-radius: 1.75em;
    text-align: center;
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(255, 153, 0);}

.attack {
    color: rgb(232, 23, 23);
    font-size: 1.75em;
    background-color: rgb(0, 0, 0);
    margin: 0.3em;
    display: inline-block;
    height: 1.75em;
    width: 1.75em;
    line-height: 1.75em;
    -moz-border-radius: 1.75em;
    border-radius: 1.75em;
    text-align: center;
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(232, 23, 23);}
.turret, .attack.turret {
    border-style: double;
    border-width: 0.4em;
    height: 1.445em;
    width: 1.445em;
    line-height: 1.445em;
    -moz-border-radius: 1.445em;
    border-radius: 1.445em;}
.reararc, .attack.reararc {
    text-decoration: underline overline;}

.agility {
    color: rgb(0, 224, 0);
    font-size: 1.75em;
    background-color: rgb(0, 0, 0);
    margin: 0.3em;
    display: inline-block;
    height: 1.75em;
    width: 1.75em;
    line-height: 1.75em;
    -moz-border-radius: 1.75em;
    border-radius: 1.75em;
    text-align: center;
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(0, 224, 0);}

.hull {
    color: rgb(240, 224, 16);
    font-size: 1.75em;
    background-color: rgb(0, 0, 0);
    margin: 0.3em;
    display: inline-block;
    height: 1.75em;
    width: 1.75em;
    line-height: 1.75em;
    -moz-border-radius: 1.75em;
    border-radius: 1.75em;
    text-align: center;
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(240, 224, 16);}

.shields {
    color: rgb(0, 92, 230);
    font-size: 1.75em;
    background-color: rgb(0, 0, 0);
    margin: 0.3em;
    display: inline-block;
    height: 1.75em;
    width: 1.75em;
    line-height: 1.75em;
    -moz-border-radius: 1.75em;
    border-radius: 1.75em;
    text-align: center;
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(0, 92, 230);}

.edited {color:rgb(255, 255, 0);}
.shp {font-size:1.375em;font-weight:bold;background-color:rgb(0, 0, 0);}

table {
    text-align: left;
    width: 17.5em;
    font-size:2em;
}
th {
    height:1.75em;
}
p {font-size: 2em;}

tr:nth-child(even) {background-color: rgb(128, 128, 128)}

h1 {font-size: 4em; min-width: 45em;}
h2 {font-size: 3.2em;}

a:hover {color: yellow;}

a:active {color: black;}

.action {font-size:1.25em;}

.name {font-size:1.75em;}

.rel {position: relative;}

.invis {
    display: none;
    position: absolute;
    width: 24.375em;
    text-align: Left;
    border-style: solid;
    border-radius: 0.75em;
    border-width: 0.3125em;
    background-color: rgb(32, 32, 32);
    border-color: rgb(128, 128, 128);
    z-index: 100;
    top: 0em;
    padding:0.1875em;
    left:17.5em;
}
